


<script type="text/javascript">

            var jsApiParameters = <{$parameters}> ;
            var ref='/'+"<{$ref}>";
            callpay();
            function jsApiCall(){
                WeixinJSBridge.invoke(
                        'getBrandWCPayRequest', {
                        "appId": jsApiParameters.appId,
                                "timeStamp": jsApiParameters.timeStamp,
                                "nonceStr": jsApiParameters.nonceStr,
                                "package": jsApiParameters.package,
                                "signType": jsApiParameters.signType,
                                "paySign": jsApiParameters.paySign
                        },
                        function(res){
                            if (res.err_msg == "get_brand_wcpay_request:ok") {
                                window.location.href=window.location.host+ref;
                            } else{
                                alert('支付失败');
                               
                            }
                        }
                );
            }

    function callpay(){
        if (typeof WeixinJSBridge == "undefined"){
            if (document.addEventListener){
                document.addEventListener('WeixinJSBridgeReady', jsApiCall, false);
            } else if (document.attachEvent){
                document.attachEvent('WeixinJSBridgeReady', jsApiCall);
                document.attachEvent('onWeixinJSBridgeReady', jsApiCall);
            }
        } else{
            jsApiCall();
        }
    }
    
</script>